@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Definições gerais */
body {
  font-family: "Poppins", sans-serif;
  background-color: #f8f9fa;
  color: #333;
  text-align: center;
}

header {
  background-color: #ff4500;
  color: white;
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
}

footer {
  margin-top: auto;
  padding: 20px;
  background-color: #333;
  color: white;
  font-size: 14px;
}
